{% load static %}
<footer class="amazon-footer">
    <div class="back-to-top">
        <p>Back to top</p>
    </div>

    <div class="links">
        <div class="column">
            <h3>Get to Know Us</h3>
            <p>About Amazon</p>
            <p>Careers</p>
            <p>Press Releases</p>
            <p>Amazon Science</p>
        </div>
        <div class="column">
            <h3>Connect with Us</h3>
            <p>Facebook</p>
            <p>Twitter</p>
            <p>Instagram</p>
        </div>
        <div class="column">
            <h3>Make Money with Us</h3>
            <p>Sell on Amazon</p>
            <p>Sell under Amazon Accelerator</p>
            <p>Protect and Build Your Brand</p>
            <p>Amazon Global Selling</p>
            <p>Supply to Amazon</p>
            <p>Become an Affiliate</p>
            <p>Fulfilment by Amazon</p>
            <p>Advertise Your Products</p>
            <p>Amazon Pay on Merchants</p>
        </div>
        <div class="column">
            <h3>Let Us Help You</h3>
            <p>Your Account</p>
            <p>Returns Centre</p>
            <p>Recalls and Product Safety Alerts</p>
            <p>100% Purchase Protection</p>
            <p>Amazon App Download</p>
            <p>Customer Service</p>
        </div>
    </div>

    <div class="footer-mid">
        <div class="brand">
            <img src="{% static './images/Amazon_logo_white.png' %}" alt="Amazon">
        </div>
        <div class="drop_down">
            <div class="drop">
                <i class="fa-solid fa-globe"></i>
                <select name="language">
                    <option value="en">English</option>
                    <option value="hi">हिन्दी</option>
                    <option value="ta">தமிழ்</option>
                </select>
            </div>

            <div class="drop">
                <select name="country">
                    <option value="in">🇮🇳 India</option>
                    <option value="us">🇺🇸 United States</option>
                    <option value="uk">🇬🇧 United Kingdom</option>
                </select>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="brands">
            <div class="brand-item">
                <p>AbeBooks</p>
                <span>Books, art<br>&amp; collectibles</span>
            </div>
            <div class="brand-item">
                <p>Amazon Web Services</p>
                <span>Scalable Cloud<br>Computing Services</span>
            </div>
            <div class="brand-item">
                <p>Audible</p>
                <span>Download<br>Audio Books</span>
            </div>
            <div class="brand-item">
                <p>IMDb</p>
                <span>Movies, TV<br>&amp; Celebrities</span>
            </div>
            <div class="brand-item">
                <p>Shopbop</p>
                <span>Designer<br>Fashion Brands</span>
            </div>
            <div class="brand-item">
                <p>Amazon Business</p>
                <span>Everything For<br>Your Business</span>
            </div>
            <div class="brand-item">
                <p>Amazon Music</p>
                <span>Stream millions of<br>songs</span>
            </div>
        </div>

        <div class="legal">
            <div class="legal_links">
                <span>Conditions of Use &amp; Sale</span>
                <span>Privacy Notice</span>
                <span>Interest-Based Ads</span>
            </div>
            <p>© 1996-2026, Amazon.com, Inc. or its affiliates</p>
        </div>
    </div>

</footer>