{% load static %}
<nav class="navbar">

    <div class="logo">
        <img src="{% static 'images/Amazon_logo_white.png' %}" alt="Amazon">
    </div>

        <div class="location">

            <div class="location_icon">
                <img src="{% static 'images/Location_icon.png' %}" alt="">
            </div>

            <div class="location_text">
                <div>Deliver to Govind</div>
                <div>Sonipat 131021</div>
            </div>

        </div>

    <div class="search-box">

        <select>
            <option>All</option>
        </select>

        <input type="text" placeholder="Search Amazon.in">

        <button>
            🔍
        </button>

    </div>

    <!-- Language -->
    <div class="language">
        🇮🇳 EN
    </div>

    <!-- Account -->
    <div class="account">
        <small>Hello, sign in</small>
        <strong>Account & Lists</strong>
    </div>

    <!-- Orders -->
    <div class="orders">
        <small>Returns</small>
        <strong>& Orders</strong>
    </div>

    <!-- Cart -->
    <div class="cart">
        🛒 Cart
    </div>

</nav>