<div class="sidebar" id="sidebar">

    <div class="sidebar-header">
        <span>👤 Hello, Sign-in</span>

        <button onclick="hide_sidebar()">×</button>
    </div>


    <div class="sidebar-section">

        <h3>Trending</h3>

        <p>Bestsellers</p>
        <p>New Releases</p>

    </div>


    <div class="sidebar-section">

        <h3>Digital Content and Devices</h3>

        <p>Echo & Alexa</p>
        <p>Fire TV</p>
        <p>Kindle E-Readers & eBooks</p>
        <p>Audible Audiobooks</p>
        <p>Amazon Prime Video</p>
        <p>Amazon Music</p>

    </div>


    <div class="sidebar-section">

        <h3>Shop by Category</h3>

        <p>Mobiles, Computers</p>
        <p>TV, Appliances, Electronics</p>
        <p>Men's Fashion</p>
        <p>Women's Fashion</p>

    </div>


    <div class="sidebar-section">

        <h3>Programs & Features</h3>

        <p>Gift Cards & Mobile Recharges</p>
        <p>Amazon Launchpad</p>
        <p>Amazon Business</p>
        <p>Handloom and Handicrafts</p>

    </div>

</div>